{% extends 'base.html' %}

{% block content %}
    {% if items %}
        <h1>Your Cart</h1>
        <table>
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                <form method="POST" action="{% url 'update_cart' %}">
                    {% csrf_token %}
                    {% for item in items %}
                        <tr>
                            <td>{{ item.product.title }}</td>
                            <td>${{ item.product.price }}</td>
                            <td>
                                <label>
                                    <input type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="0">
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Итого:</td>
                        <td>${{ total_price }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input type="submit" value="Обновить корзину">
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
        <form action="{% url 'checkout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Сделать заказ">
        </form>
        <form action="{% url 'clear_cart' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Очистить корзину">
        </form>
    {% else %}
        <p>В корзине ничего нет.</p>
    {% endif %}
{% endblock %}
