{% extends 'base.html' %}

{% block content %}
    <h1>Наши изделия</h1>
    <ul>
        {% for product in products %}
            <li>
                {{ product.title }} - ${{ product.price }} ({{ product.available_units }} штук в наличии)
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                {% endif %}
                <form method="post" action="{% url 'add-to-cart' product_id=product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit">Добавить в корзину</button>
                </form>
            </li>
        {% empty %}
            <li>К сожалению, сейчас ничего нет</li>
        {% endfor %}
    </ul>
{% endblock %}
